{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Avatar's Story 6 Page
        </title>
        
        <!-- Bootstrap core CSS -->
        <link href="{% static 'app6/bootstrap.min.css' %}" rel="stylesheet">

        <!-- My StyleSheet inspired by Cover by @mdo -->
        <link href="{% static 'app6/myCSS.css' %}" rel="stylesheet">
    </head>
    <body>
        
        <div class="container mt-auto mb-auto">
            <div class="row align-content-center">
                <div class="col">
                    <h1 style="text-align: center;">Hello, how are you?</h1>
                </div>
            </div>
            <div class="row">
                <div class="col mt-auto mb-auto align-content-center">
                    <form action="" method="post">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                    </table>
                    <input type="submit" value="Submit">
                    </form>
                </div>
            </div>

            <div class="row">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                        <th scope="col">Author</th>
                        <th scope="col">Status</th>
                        <th scope="col">Last Updated</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for opinion in opinions %}
                            <tr>
                            <th scope="row">{{ opinion.author }}</th>
                            <td>{{ opinion.msg }}</td>
                            <td>{{ opinion.date_time_updated }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <script src="{% static 'app6/myJquery.js' %}"></script>
        <script src="{% static 'app6/myPopperJS.js' %}"></script>
        <script src="{% static 'app6/bootstrap.min.js' %}"></script>
    </body>

</html>