/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(bgimg.png);
  text-align: center;
    
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgb(246, 246, 246);
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  

}

.front-page{
  position: fixed;
  width: 2331px;
  height: 2906px;
  left: -399px;
  top: -902px;


}

.cover-container {
  max-width: 42em;
}

/* Navbar */
.navbar-nav {
  font-family: Roboto, sans-serif;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}

.cover-heading {
  font-weight: bold;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.footer {
  color: rgb(255, 255, 255);
}

/* FRIENDS FORM */
form {
  display: inline-block;
}

@media only screen and (max-width: 960px) {
  .row {
    display: flex;
    flex-direction: column-reverse;
  }
  .col {
    padding-top: 4em;
    padding-bottom: 4em;
    padding-right: 2em;
    padding-left: 2em;
  }
}